<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yno.wizard"
    android:versionCode="1"
    android:versionName="1.000" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />

    <application
        android:icon="@drawable/yw_launcher"
        android:label="@string/app_name"
        android:name=".YnoFinderApplication"
        android:theme="@style/ywAppTheme" >
        <activity
            android:name=".view.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".view.ChooseSearchActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.yno.wizard.intent.OPEN_CHOOSE_SEARCH_METHOD"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity 
            android:name=".view.ManualEntryActivity">
            <intent-filter>
                <action android:name="com.yno.wizard.intent.OPEN_MANUAL_ENTRY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity 
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:screenOrientation="landscape"
			android:configChanges="orientation|keyboardHidden"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:windowSoftInputMode="stateAlwaysHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
			<intent-filter>
				<action android:name="com.google.zxing.client.android.SCAN"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
        <activity 
            android:name=".view.TextSearchActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.yno.wizard.intent.OPEN_PHRASE_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
        <activity 
            android:name=".view.WineSelectActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.yno.wizard.intent.START_WINE_SELECT"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
             <intent-filter>
                 <action android:name="com.yno.wizard.intent.START_BARCODE_SEARCH" />
                 <category android:name="android.intent.category.DEFAULT" />
             </intent-filter>
        </activity>
        <activity 
            android:name=".view.SearchResultsActivity"
            android:label="@string/app_name">
             <intent-filter>
                <action android:name="com.yno.wizard.intent.OPEN_SEARCH_RESULTS"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.WebViewActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="com.yno.wizard.intent.SHOW_PRICE_VENDOR"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".view.WineReviewActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.yno.wizard.intent.START_FB_RATING"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        
        <service 
            android:name=".model.service.WinesPhraseSearchService" />
        <service 
            android:name=".model.service.WineBarcodeSearchService" />
        <service 
            android:name=".model.service.WineSelectSearchService" />
        <service 
            android:name=".model.service.WineTypesSearchService" />
        
        <meta-data android:value="a1509182d814b08" android:name="ADMOB_PUBLISHER_ID"/>

    </application>

</manifest>